section:not(:last-child){
  margin-bottom: 64px;

  @media (max-width:992px) {
    margin-bottom: 24px;
  }
}

input[type="button"] {
  white-space: normal;
}

.container{
	max-width: 1920px;
	margin: 0 auto;
}

.card{
  display: flex;
  padding-top: 114px;
  background-image: url(../img/fon.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width:975px) {
    flex-direction: column;
    padding-top: 48px;
    padding-left: 32px;
    padding-right: 32px;
  }

  &__info{
    max-width: 1282px;
    margin-left: 142px;

    @media (max-width:1400px) {
      margin-left: 32px;
    }

    @media (max-width:975px) {
      margin-left: 0;
    }


    .logo{

      & img{
        max-width: 1090px;
        width: 100%;
      }
    }
  }

  &__photo{
    position: relative;
    max-width: 638px;
    width: 100%;


    @media (max-width:1400px) {
      max-width: 638px;
      padding: 0 8px;
    }

    @media (max-width:1200px) {
      max-width: 372px;
    }

    @media (max-width:975px) {
      margin: 0 auto;
    }

    & img{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      max-width: 532px;
      width: 100%;

      @media (max-width:1300px) {
        max-width: 372px;
      }

      @media (max-width:975px) {
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
}

