.conection {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  &__item {
    padding: 14px 24px;
    border: 4px solid #ffffff;
    cursor: pointer;

    &:hover {
      background-color: #4fb5c0;
      border: 4px solid #6aecf8;
    }

    & span {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-style: normal;
      text-transform: uppercase;
      font-size: 18px;
      letter-spacing: 2px;
      color: #ffffff;

      @media (max-width: 1400px) {
        font-size: 16px;
      }
    }
  }
}
