.contact{

  &__form{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
    max-width: 700px;

    @media (max-width:975px) {
      justify-content: center;
      max-width: 975px;
    }

    &_input{
      font-family: "Roboto", Arial, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 2px;
      max-width: 292px;
      padding-left: 17px;
      width: 100%;
      height: 48px; 
      background-color: #ffffff;

      @media (max-width:1300px) {
        max-width: 276px;
      }

      @media (max-width:975px) {
        max-width: 975px;
      }
      
      &::placeholder{
        text-transform: uppercase;
        font-size: 18px;
        color: #000000;

        @media (max-width:1300px) {
          font-size: 14px;
        }
      }
      
    }

    &_textarea{
      font-family: "Roboto", Arial, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 2px;
      padding-left: 17px;
      max-width: 596px;
      height: 110px;
      width: 100%;
      padding: 31px 0px 31px 13px;

      @media (max-width:1300px) {
        font-size: 14px;
        max-width: 442px;
        height: 68px;
        padding: 20px 0px 13px 13px;
      }

      @media (max-width:975px) {
        max-width: 975px;
      }

      &::placeholder{
        text-transform: uppercase;
        font-size: 18px;
        color: #000000;

        @media (max-width:1300px) {
          font-size: 14px;
         
        }
      }
    }

    & textarea::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      }

    &_button{
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-style: normal;
      text-transform: uppercase;
      font-size: 18px;
      letter-spacing: 2px;
      color: #ffffff;
      max-height: 48px;
      padding: 10px 24px;
      margin-bottom: 28px;
      border: 4px solid #ffffff;
      background-color: transparent;
      cursor: pointer;

      @media (max-width:1300px) {
        font-size: 16px;
        max-width: 110px;
        max-height: 68px;
        height: 68px;
        padding: 0px 0px;
      }

      @media (max-width:975px) {
        width: 192px;
        max-width: 192px;
        max-height: 48px;
      }

      &:hover{
        background-color: #4FB5C0;
        border: 4px solid #6AECF8;
        color: #131510;
      }
    }
  }
}