.header {
  background-image: url(/img/image\ 12.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;

  &__svg {
    display: flex;
    padding-top: 114px;
    padding-left: 142px;
    margin-bottom: 64px;
  }

  &__title {
    position: relative;
    padding-left: 142px;
    margin-bottom: 26px;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 3.2px;
  }
}
