.products{

  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    @media (max-width:975px) {
      justify-content: center;
    }
  }

  &__item{
    padding: 14px 24px;
    border: 4px solid #ffffff;
    cursor: pointer;

    &:hover{
      background-color: #4FB5C0;
      border: 4px solid #6AECF8;

      & span{
        color: #131510;
      }
    }

    & span{
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-style: normal;
      text-transform: uppercase;
      font-size: 18px;
      letter-spacing: 2px;
      color: #ffffff;

      @media (max-width:1400px) {
        font-size: 16px;
      }
    }
  }
}
