@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;

  src:
    url("../font/Roboto-Regular.ttf") format("ttf"),
    url("../font/Roboto-Regular.woff") format("woff"),
    url("../font/Roboto-Regular.woff2") format("woff2")
}

@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-style: normal;

  src: 
    url("../font/Roboto-Medium.ttf") format("ttf"),
    url("../font/Roboto-Medium.woff") format("woff"),
    url("../font/Roboto-Medium.woff2") format("woff2")
}

h2{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 3px;
  color: #ffffff;
  text-shadow: 0px 4px 4px #0000007b;
  margin-bottom: 26px;
  
  @media (max-width:992px) {
    font-size: 24px;
    margin-bottom: 12px;
    letter-spacing: 2px;
  }

  @media (max-width:975px) {
    text-align: center;
  }
}

p{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-indent: 20px;
  text-align: justify;
  letter-spacing: 2px;
  color: #ffffff;
  text-shadow: 0px 4px 4px #0000007b;

  @media (max-width:992px) {
    font-size: 14px;
    letter-spacing: 1px;
  }
}