section:not(:last-child) {
  margin-bottom: 64px;
}

.container {
  max-width: 1920px;
  margin: auto;
}

.card {
  display: flex;
  padding-top: 114px;
  padding-bottom: 28px;
  background-color: aquamarine;
}
.card__info {
  max-width: 1282px;
  margin-left: 142px;
}
.card__info .logo img {
  max-width: 1090px;
  width: 100%;
}
.card__photo {
  max-width: 638px;
  width: 100%;
  padding: 0 53px;
}
.card__photo img {
  max-width: 532px;
  width: 100%;
}

.about {
  max-width: 1090px;
  width: 100%;
}

.contact__form {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
  max-width: 700px;
}
.contact__form_input {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  max-width: 292px;
  padding-left: 17px;
  width: 100%;
  height: 48px;
  background-color: #ffffff;
}
.contact__form_input::-moz-placeholder {
  text-transform: uppercase;
  font-size: 18px;
  color: #000000;
}
.contact__form_input::placeholder {
  text-transform: uppercase;
  font-size: 18px;
  color: #000000;
}
.contact__form_textarea {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  padding-left: 17px;
  max-width: 596px;
  height: 110px;
  width: 100%;
  padding: 31px 0px 31px 13px;
}
.contact__form_textarea::-moz-placeholder {
  text-transform: uppercase;
  font-size: 18px;
  color: #000000;
}
.contact__form_textarea::placeholder {
  text-transform: uppercase;
  font-size: 18px;
  color: #000000;
}
.contact__form textarea::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.contact__form_button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  color: #ffffff;
  max-height: 48px;
  padding: 10px 24px;
  border: 4px solid #ffffff;
  background-color: transparent;
  cursor: pointer;
}
.contact__form_button:hover {
  background-color: #4FB5C0;
  border: 4px solid #6AECF8;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../font/Roboto-Regular.ttf") format("ttf"), url("../font/Roboto-Regular.woff") format("woff"), url("../font/Roboto-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../font/Roboto-Medium.ttf") format("ttf"), url("../font/Roboto-Medium.woff") format("woff"), url("../font/Roboto-Medium.woff2") format("woff2");
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 3px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4823529412);
  margin-bottom: 26px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-indent: 20px;
  letter-spacing: 2px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4823529412);
  margin-bottom: 26px;
}

.products__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.products__item {
  padding: 14px 24px;
  border: 4px solid #ffffff;
}
.products__item:hover {
  background-color: #4FB5C0;
  border: 4px solid #6AECF8;
}
.products__item span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */