section:not(:last-child) {
  margin-bottom: 64px;
}
@media (max-width: 992px) {
  section:not(:last-child) {
    margin-bottom: 24px;
  }
}

input[type=button] {
  white-space: normal;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.card {
  display: flex;
  padding-top: 114px;
  background-image: url(../img/fon.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 975px) {
  .card {
    flex-direction: column;
    padding-top: 48px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
.card__info {
  max-width: 1282px;
  margin-left: 142px;
}
@media (max-width: 1400px) {
  .card__info {
    margin-left: 32px;
  }
}
@media (max-width: 975px) {
  .card__info {
    margin-left: 0;
  }
}
.card__info .logo img {
  max-width: 1090px;
  width: 100%;
}
.card__photo {
  position: relative;
  max-width: 638px;
  width: 100%;
}
@media (max-width: 1400px) {
  .card__photo {
    max-width: 638px;
    padding: 0 8px;
  }
}
@media (max-width: 1200px) {
  .card__photo {
    max-width: 372px;
  }
}
@media (max-width: 975px) {
  .card__photo {
    margin: 0 auto;
  }
}
.card__photo img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 532px;
  width: 100%;
}
@media (max-width: 1300px) {
  .card__photo img {
    max-width: 372px;
  }
}
@media (max-width: 975px) {
  .card__photo img {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.about {
  max-width: 1090px;
  width: 100%;
}
.about__info:last-child {
  margin-bottom: 26px;
}
@media (max-width: 1400px) {
  .about__info:last-child {
    margin-bottom: 24px;
  }
}

.contact__form {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
  max-width: 700px;
}
@media (max-width: 975px) {
  .contact__form {
    justify-content: center;
    max-width: 975px;
  }
}
.contact__form_input {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  max-width: 292px;
  padding-left: 17px;
  width: 100%;
  height: 48px;
  background-color: #ffffff;
}
@media (max-width: 1300px) {
  .contact__form_input {
    max-width: 276px;
  }
}
@media (max-width: 975px) {
  .contact__form_input {
    max-width: 975px;
  }
}
.contact__form_input::-moz-placeholder {
  text-transform: uppercase;
  font-size: 18px;
  color: #000000;
}
.contact__form_input::placeholder {
  text-transform: uppercase;
  font-size: 18px;
  color: #000000;
}
@media (max-width: 1300px) {
  .contact__form_input::-moz-placeholder {
    font-size: 14px;
  }
  .contact__form_input::placeholder {
    font-size: 14px;
  }
}
.contact__form_textarea {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  padding-left: 17px;
  max-width: 596px;
  height: 110px;
  width: 100%;
  padding: 31px 0px 31px 13px;
}
@media (max-width: 1300px) {
  .contact__form_textarea {
    font-size: 14px;
    max-width: 442px;
    height: 68px;
    padding: 20px 0px 13px 13px;
  }
}
@media (max-width: 975px) {
  .contact__form_textarea {
    max-width: 975px;
  }
}
.contact__form_textarea::-moz-placeholder {
  text-transform: uppercase;
  font-size: 18px;
  color: #000000;
}
.contact__form_textarea::placeholder {
  text-transform: uppercase;
  font-size: 18px;
  color: #000000;
}
@media (max-width: 1300px) {
  .contact__form_textarea::-moz-placeholder {
    font-size: 14px;
  }
  .contact__form_textarea::placeholder {
    font-size: 14px;
  }
}
.contact__form textarea::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.contact__form_button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  color: #ffffff;
  max-height: 48px;
  padding: 10px 24px;
  margin-bottom: 28px;
  border: 4px solid #ffffff;
  background-color: transparent;
  cursor: pointer;
}
@media (max-width: 1300px) {
  .contact__form_button {
    font-size: 16px;
    max-width: 110px;
    max-height: 68px;
    height: 68px;
    padding: 0px 0px;
  }
}
@media (max-width: 975px) {
  .contact__form_button {
    width: 192px;
    max-width: 192px;
    max-height: 48px;
  }
}
.contact__form_button:hover {
  background-color: #4FB5C0;
  border: 4px solid #6AECF8;
  color: #131510;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../font/Roboto-Regular.ttf") format("ttf"), url("../font/Roboto-Regular.woff") format("woff"), url("../font/Roboto-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../font/Roboto-Medium.ttf") format("ttf"), url("../font/Roboto-Medium.woff") format("woff"), url("../font/Roboto-Medium.woff2") format("woff2");
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 3px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4823529412);
  margin-bottom: 26px;
}
@media (max-width: 992px) {
  h2 {
    font-size: 24px;
    margin-bottom: 12px;
    letter-spacing: 2px;
  }
}
@media (max-width: 975px) {
  h2 {
    text-align: center;
  }
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-indent: 20px;
  text-align: justify;
  letter-spacing: 2px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4823529412);
}
@media (max-width: 992px) {
  p {
    font-size: 14px;
    letter-spacing: 1px;
  }
}

.products__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
@media (max-width: 975px) {
  .products__wrapper {
    justify-content: center;
  }
}
.products__item {
  padding: 14px 24px;
  border: 4px solid #ffffff;
  cursor: pointer;
}
.products__item:hover {
  background-color: #4FB5C0;
  border: 4px solid #6AECF8;
}
.products__item:hover span {
  color: #131510;
}
.products__item span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  color: #ffffff;
}
@media (max-width: 1400px) {
  .products__item span {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */